<div class="container-fluid nopadding_lr margin_btm_30">
  <header class="col-xs-12">
    <div class="container">
      <div class="logo pull-left">
        <a href="#">
          <%= image_tag "logo.png" ,:class=> "img-responsive" %></a>
      </div>
       <div class="navigation pull-right">
        <ul>
          <% if user_signed_in? %>
          	<li><%= link_to "Log out", destroy_user_session_path , method: "delete" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
  <!-- navigation -->
  <div class="navigation white_bg col-xs-12">
    <ul class="container padding_tb_20 menu-font">
      <li>
        <a href="<%= pending_reviews_path %>" class="<%= current_path(pending_reviews_path) %> dark_gray">Review Videos</a>
      </li> |
      <li>
        <a href="<%= my_reviews_path %>" class="<%= current_path(my_reviews_path) %> dark_gray">My Reviews</a>
      </li> |
      <li>
        <a href="<%= my_profile_path %>" class="<%= current_path(my_profile_path) %> dark_gray ">My Profile</a>
      </li> 
    </ul>
  </div>
  <!-- Navigation closed -->
</div>
