<div class="dashboard col-xs-12 nopadding_lr">
	<ul>
    <!-- Dash 1 -->
    <li class="col-xs-12 col-sm-6">
      <a href="<%= admin_reviewed_by_reviewer_path %>">
        <h2><%= @video_approval_count %></h2>
        <h3>Reviews to be approved</h3>
      </a>
    </li>

    <!-- Dash 2 -->
    <li class="col-xs-12 col-sm-6">
      <a href="<%= admin_users_path(:type => "reviewer") %>">
        <h2><%= @reviewer_count %></h2>
        <h3>Total Reviewers</h3>
      </a>
    </li>

    <!-- Dash 3 -->
    <li class="col-xs-12 col-sm-6">
      <a href="<%= admin_list_of_orders_path %>">
        <h2><%= @order_count %></h2>
        <h3>Total orders</h3>
      </a>
    </li>

    <!-- Dash 4 -->
    <li class="col-xs-12 col-sm-6">
      <a href="<%= admin_users_path(:type => "user") %>">
        <h2><%= @user_count %></h2>
        <h3>Total users</h3>
      </a>
    </li>
  </ul>
</div>


<script>
  $(document).ready(function(){
    $(".container").addClass("nopadding_lr")
  });
</script>