<div class="container-fluid nopadding_lr margin_btm_30">
  <header class="col-xs-12">
    <div class="container">
      <div class="logo pull-left">
        <a href="#">
          <%= image_tag "logo.png" ,:class=> "img-responsive" %></a>
      </div>
       <div class="navigation pull-right">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "Log out", destroy_user_session_path , method: "delete" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
  <!-- navigation -->
  <div class="navigation white_bg col-xs-12">
    <ul class="container padding_tb_20 menu-font">
      <li>
        <a href="#" class="<%= current_path("#") %> dark_gray">Dashboard</a>
      </li> |

      <!-- <li>
        <%#= link_to "Reviewed Videos", admin_reviewed_videos_path, :class =>"dark_gray" %>
      </li> | -->
      <li>
        <a href="<%= admin_reviewed_by_reviewer_path %>" class="<%= current_path(admin_reviewed_by_reviewer_path) %> dark_gray">Review Approval</a>
      </li> |
      <li>
        <a href="<%= admin_pending_orders_path %>" class="<%= current_path(admin_pending_orders_path) %> dark_gray">Video Approval</a>
      </li> |
      <li>
        <a href="<%= admin_users_path(:type => "reviewer") %>" class="<%= current_path(admin_users_path(:type => "reviewer")) %> dark_gray">Reviewers</a>
      </li> |
      <li>
        <a href="<%= admin_users_path(:type => "user") %>" class="<%= current_path(admin_users_path(:type => "user")) %> dark_gray">Users</a>
      </li> |
      <li>
        <a href="<%= admin_list_of_orders_path %>" class="<%= current_path(admin_list_of_orders_path) %> dark_gray">Orders</a>
      </li> |
      <li>
        <a href="<%= admin_prices_path %>" class="<%= current_path(admin_prices_path) %> dark_gray">Pricing</a>
      </li> |
      <li>
        <a href="<%= my_profile_path %>" class="<%= current_path(my_profile_path) %> dark_gray">My Profile</a>
      </li> 
    </ul>
  </div>
  <!-- Navigation closed -->
</div>