<h4>Admin Panel
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Reviewers", admin_users_path %>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "User Videos", admin_pending_orders_path %>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Reviewed Videos", admin_reviewed_videos_path %>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Reviewed by Reviewer", admin_reviewed_by_reviewer_path %>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "My Profile", my_profile_path %>

	<% if user_signed_in? %>
  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Log out", destroy_user_session_path , method: "delete" %>
	<% end %>
</h4><hr/>