<h3> My Profile</h3> 
<%= image_tag current_user.avatar.url(:thumb) , alt:"image"%><br/>
<p>Username : <%= current_user.try(:fullname) %></p>
<p>Gender : 
<% if current_user.gender == 1 %>
  Male
<% else %>
  Female
<% end %></p>
<% if current_user.is_reviewer? %>
	<p>Address : <%= current_user.try(:address) %></p>
	<p>Phone number : <%= current_user.try(:phone_number) %></p>
	<p>Current club : <%= current_user.try(:current_club) %></p>
	<p>Description : <%= current_user.try(:description) %></p>
<% end %>
<% if current_user.is_user? %>
	<p>Position : <%= current_user.try(:position) %></p>
<% end %>
<p>Email : <%= current_user.email %></p>
<p><%= link_to 'Edit Profile', edit_user_registration_path %></p>