    <%= form_for @contact_us do |f|%>
      <%= f.text_field :subject ,:class => "col-sm-8 col-xs-12 col-md-6",:placeholder => "Subject" ,:hide_label => true%>
      <div class="clear"></div>
      <br>
      <%= f.email_field :email ,:class => "col-sm-8 col-xs-12 col-md-6",:placeholder => "Email*",:hide_label => true%>
      <div class="clear"></div>
      <br>
      <%= f.text_area :description ,:class => "col-sm-8 col-xs-12 col-md-6",:placeholder => "Inquiry*",:hide_label => true ,:id => "custFeedback"%>
      <div class="clear"></div>
      <br>
      <%=f.submit "SUBMIT", :class => "btn btn-info mrg-bottom-15 btn100" %>
    <% end %>