<div id="TabbedPanels1" class="TabbedPanels">
  <ul class="TabbedPanelsTabGroup">
    <li class="TabbedPanelsTab" tabindex="1">1. Payment Details</li>
    <li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0">2. Upload Video</li>
    </ul>
    <div class="TabbedPanelsContentGroup">
      <div class="TabbedPanelsContent">
        <div class="tab_content col-xs-12">
          <%= nested_form_for @order, url: wizard_path, method: :put, :class => "col-xs-12" do |f| %>
            <% if @order.errors.any? %>
              <div id="error_explanation">
                <!-- <h2><%#= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2> -->
                <ul>
                  <% @order.errors.full_messages.each do |message| %>
                    <li class="error_div"><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <ul class="col-xs-12">
              <div class="col-xs-12 col-sm-1"></div>

              <div class="col-xs-12 col-sm-10">

                <li>
                  <h2 class="pull-left">Title</h2>
                  <span class="box">
                    <%= image_tag "icons/title.png" %>
                    <%= f.text_field :title %>
                  </span>
                </li>

                <li>
                  <h2 class="pull-left">Videos</h2>
                  <span class="box">
                    <%= f.fields_for :videos do |video| %>
                      <%= image_tag"icons/video.png" %>
                      <input id="uploadFile1" placeholder="Please upload the full game or first half" disabled="disabled" />
                      <div class="fileUpload btn btn-primary">
                        <span>Upload</span>
                        <input id="uploadBtn" type="file" class="upload" />
                        <%= video.file_field :video_url, :id => "uploadBtn1", :data => {:value => "upload1"}, :class => "upload", :placeholder => "Please upload the full game or first half", :onclick => "change_file1();" %>
                      </div>
                    <% end %>
                  </span>
                  <div id="progress1">
                    <div class="bar" style="width: 0%;"></div>
                  </div>
                </li>

                <li>
                  <!-- <h2 class="pull-left">Videos</h2> -->
                  <span class="box">
                    <%= f.fields_for :videos do |video| %>
                      <%= image_tag"icons/video.png" %>
                      <input id="uploadFile2" placeholder="Please upload second half if applicable" disabled="disabled" />
                      <div class="fileUpload btn btn-primary">
                        <span>Upload</span>
                        <input id="uploadBtn" type="file" class="upload" />
                        <%= video.file_field :video_url, :id => "uploadBtn2", :data => {:value => "upload2"}, :class => "upload", :placeholder => "Please upload second half if applicable", :onclick => "change_file2();" %>
                      </div>
                    <% end %>
                  </span>
                  <div id="progress2">
                    <div class="bar" style="width: 0%;"></div>
                  </div>
                </li>

                <li>
                  <h2 class="pull-left">Description</h2>
                  <span class="box">
                    <%= image_tag "icons/description.png", :class => "pull-left" %>
                    <%= f.text_area :description %>
                  </span>
                </li>

                <div class="col-xs-12 col-sm-4"></div>
                <div class="col-xs-12 col-sm-4">
                  <li>
                    <button id="upload"><i class="fa fa-check" aria-hidden="true"></i> Upload Video</button>
                  </li>
                </div>
                <div class="col-xs-12 col-sm-4"></div>
              </div>
              <div class="col-xs-12 col-sm-1"></div>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </ul>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    var fieldsCount,
    maxFieldsCount = 1,
    $addLink = $('a.add_nested_fields');

    var mfieldsCount,
    minFieldsCount = 0, // placed at 0 because first object is auto built from controller
    $removeLink = $('a.remove_nested_fields');

    function toggleAddLink() {
      $addLink.toggle(fieldsCount <= maxFieldsCount)
    }

    function toggleRemoveLink() {
      $removeLink.toggle(mfieldsCount <= minFieldsCount)
    }

    $(document).on('nested:fieldAdded', function() {
      fieldsCount += 1;
      toggleAddLink();
    });

    $(document).on('nested:fieldRemoved', function() {
      fieldsCount -= 1;
      toggleAddLink();
    });

    $(document).on('nested:fieldRemoved', function() {
      mfieldsCount -= 0;
      toggleRemoveLink();
    });

    // count existing nested fields after page was loaded
    fieldsCount = $('form .fields').length;
    toggleAddLink();

    mfieldsCount = $('form .fields').length;
    toggleRemoveLink();

    $('.field_with_errors').contents().unwrap();

  });

  function change_file1(){
    document.getElementById("uploadBtn1").onchange = function () {
      document.getElementById("uploadFile1").value = this.value;
    };
  }

  function change_file2(){
    document.getElementById("uploadBtn2").onchange = function () {
      document.getElementById("uploadFile2").value = this.value;
    };
  }

  $("#upload").click(function(){
    $(this).html("Uploading Please Wait....")
    //$(this).attr('disabled',true);
  });

</script>

<script type="text/javascript">
  $("#upload").click(function() {
    var bucket = new AWS.S3({params: {Bucket: 'football-video-review-dev'}});
    var fileChooser1 = document.getElementById('uploadBtn1');
    var file1 = fileChooser1.files[0];

    var fileChooser2 = document.getElementById('uploadBtn2');
    var file2 = fileChooser2.files[0];

    var files = []
    files.push(file1)
    files.push(file2)

    if (files) {
      var params = {Key: files[0].name, ContentType: files[0].type, Body: files[0]};
      var request = bucket.putObject(params);
      request.on('httpUploadProgress', function (progress) {
        console.log(progress.loaded + " of " + progress.total + " bytes");
        $('#progress1 .bar').css(
          'width',
          parseInt(((progress.loaded+150)*100)/(progress.total+150)) + '%'
        );
        $('#progress1 .bar').html(
          parseInt(((progress.loaded+150)*100)/(progress.total+150)) + '%'
        );
      });
      request.send();

      if(files[1]){
        var params = {Key: files[1].name, ContentType: files[1].type, Body: files[1]};
        var request = bucket.putObject(params);
        request.on('httpUploadProgress', function (progress) {
          console.log(progress.loaded + " of " + progress.total + " bytes");
          $('#progress2 .bar').css(
            'width',
            parseInt(((progress.loaded+150)*100)/(progress.total+150)) + '%'
          );
          $('#progress2 .bar').html(
            parseInt(((progress.loaded+150)*100)/(progress.total+150)) + '%'
          );
        });
        request.send();
      }

    }
    //return false;
  });
</script>