<h3>My Orders</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Purchase Date</th>
      <th>Status</th>
      <th>Payment Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= image_tag order.videos.first.video_url(:thumb1) %></td>
        <td><%= order.title %></td>
        <td><%= order.description %></td>
        <td>
          <% if order.payment.present? %>
            <%= order.try(:payment).try(:date_of_payment).strftime("%B,%d %Y") %>
          <% end %>
        </td>
        <td>
          <%= Order::STATUS.key(order.status) %>
        </td>
        <td>
          <% if order.payment.present? %>
            <%= order.try(:payment).try(:status) %>
          <% else %>
            <%= link_to "pending", order_order_step_url(:add_payment,:order_id => order.id) %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', order %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

