<div id="TabbedPanels1" class="TabbedPanels">
  <ul class="TabbedPanelsTabGroup">
    <li class="TabbedPanelsTab full-width TabbedPanelsTabSelected" tabindex="0">My Reviews</li>
  </ul>

    <div class="TabbedPanelsContentGroup">
      <div class="TabbedPanelsContent">
        <div class="table-responsive">
         <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Purchase Date</th>
              <th>Status</th>
              <!-- <th>Payment Status</th> -->
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td style="width:15%;"><%= order.title %></td>
                <td style="width:30%;"><%= order.description %></td>
                <td style="width:20%;">
                  <% if order.payment.present? %>
                    <%= order.try(:payment).try(:date_of_payment).strftime("%B,%d %Y") %>
                  <% end %>
                </td>
                <td style="width:15%;"><%= Order::STATUS.key(order.status) %></td>
                <!-- <td style="width:15%;">
                  <%# if order.payment.present? %>
                    <%#= order.try(:payment).try(:status) %>
                  <%# else %>
                    <%#= link_to "pending", order_order_step_url(:add_payment,:order_id => order.id), :style => "color: blue" %>
                  <%# end %>
                </td> -->
                <td style="width:5%;">
                  <%= link_to order do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
         </table>
        </div>
      </div>
    </div>
</div>