<div id="TabbedPanels1" class="TabbedPanels">
  <ul class="TabbedPanelsTabGroup">
    <li class="TabbedPanelsTab full-width TabbedPanelsTabSelected" tabindex="0">My Reviews</li>
  </ul>

  <div class="TabbedPanelsContentGroup">
    <div class="TabbedPanelsContent">
      <div class="col-xs-12 reviewer_details nopadding_lr">
        <div class="col-xs-2 text-left">
          <% if @order.videos.present? %>
            <% if @order.videos.count == 2 %>
              <a href="#" data-toggle="modal" data-target="#myModal1" ><%= image_tag @order.videos.first.video_url(:thumb1), :size => "120x90", :class => "pad-btm" %></a>
              <a href="#" data-toggle="modal" data-target="#myModal2" ><%= image_tag @order.videos.last.video_url(:thumb1), :size => "120x90" %></a>
            <% elsif @order.videos.count == 1 %>
              <a href="#" data-toggle="modal" data-target="#myModal1" ><%= image_tag @order.videos.first.video_url(:thumb1), :size => "120x90", :class => "pad-btm" %></a>
            <% end %>
          <% else %>
            <a href="#" data-toggle="modal" data-target="#myModal" ><%= image_tag "thumb_video.jpg" %></a>
          <% end %>
        </div>
        <div class="col-xs-10 text-left">
          <h3><%= @order.try(:title) %></h3>
          <p><%= @order.try(:description) %></p>
        </div>
      </div>
      <% if @reviewer.present? %>
        <div class="col-xs-12 text-left reviewer_details">
          <h3>Technical Notes</h3>
          <p><%= raw @reviewer.technical_notes %></p>
        </div>
        <div class="col-xs-12 text-left reviewer_details">
          <h3>Tactical Notes</h3>
          <p><%= raw @reviewer.tactical_notes %></p>
        </div>
      <% end %>
      <div class="col-xs-12 text-left order_details">
        <h2>Order Details</h2>
        <ul>
          <% if @order.payment.present? %>
            <li class="text-left">Order #<%= @order.try(:payment).try(:transcation_id) %></li>
            <% if @order.payment.date_of_payment.present? %>
              <li class="pull-right"><%= @order.payment.date_of_payment.strftime("%B %d, %Y") %></li>
            <% end %>
          <% end %>
        </ul>
        <h3><%= @order.try(:title) %></h3>
        <p><%= @order.try(:description) %></p>
      </div>
      <!-- <div class="col-xs-12 reviewer_details nopadding_lr">
        <%# if @reviewer.present? %>
          <div class="col-sm-6 col-xs-5 text-left">
            <ul>
              <%# if @reviewer.user.avatar.present? %>
                <li>
                  <%#= image_tag @reviewer.user.avatar.url(:thumb), :class=>"fix-height-width img-circle"%>
                </li>
              <%# else %>
                <li><%#= image_tag "icons/reviewer.png" ,:class=>"list-image-height img-circle"%></li>
              <%# end %>
              <li>Reviewed by - </li>
              <li><%#= @reviewer.user.fullname %></li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-7 text-right">
            <ul>
              <li>Reviewed on - </li>
              <li style="font-weight:300;"><%#= @reviewer.created_at.strftime("%B %d, %Y") %></li>
            </ul>
          </div>
        <%# end %>
      </div> -->
      <% if @reviewer.present? %>
        <table class="table">
          <tr>
            <td>
              <table class="table nomargin">
                <thead>
                  <tr>
                    <th>
                      Reviewed by - <span class="light_txt"><%= @reviewer.user.try(:fullname)%></span></th>
                    <th></th>
                  </tr>
                </thead>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table class="table">
                <thead>
                  <tr>
                    <th style="border-bottom:none;">Reviewed on - <span class="light_txt"><%= @reviewer.created_at.strftime("%b %d, %Y") %></span></th>
                  </tr>
                </thead>
              </table>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
<!-- Modal for first video -->
<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog border_blr_20" style="background-color:#fff;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header no-border">
          <ul class="TabbedPanelsTabGroup">
            <li class="TabbedPanelsTab TabbedPanelsTabSelected full-width" tabindex="0">Play video
            <%= image_tag "icons/close.png" ,:class=>"pull-right close" ,"data-dismiss": "modal"%></li>
          </ul>
      </div>
    </div>

    <div class="modal-body">
      <div id="vid" class="tab-pane fade active in">
        <%= video_tag @order.videos.first.video_url.url(:medium), controls: true, autobuffer: true, :id => "order_video_01", :class => "wdth100" %>
      </div>
    </div>
    <div class="modal-footer no-border"></div>
  </div>
</div>

<!-- Modal for second video -->
<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog border_blr_20" style="background-color:#fff;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header no-border">
          <ul class="TabbedPanelsTabGroup">
            <li class="TabbedPanelsTab TabbedPanelsTabSelected full-width" tabindex="0">Play video
            <%= image_tag "icons/close.png" ,:class=>"pull-right close" ,"data-dismiss": "modal"%></li>
          </ul>
      </div>
    </div>

    <div class="modal-body">
      <div id="vid" class="tab-pane fade active in">
        <%= video_tag @order.videos.last.video_url.url(:medium), controls: true, autobuffer: true, :id => "order_video_01", :class => "wdth100" %>
      </div>
    </div>
    <div class="modal-footer no-border"></div>
  </div>
</div>