<h3> My Reviews </h3>
<% if @reviewer.present? %>
  Reviewed By : <%= @reviewer.user.fullname %><br/>
  Reviewed On : <%= @reviewer.created_at.strftime("%B,%d %Y") %><br/>
  Technical Notes : <%= @reviewer.technical_notes %><br/>
  Tactical Notes : <%= @reviewer.tactical_notes %><br/><br/>
<% end %>
<p> Title : <%= @order.try(:title) %></p>
<% if @order.videos.present? %>
  <% @order.videos.each do |video| %>
    <%= video_tag video.video_url.url, controls: true, autobuffer: true %>
  <% end %>
<% end %>
<p> Description : <%= @order.try(:description) %></p>
<p> Total video duration : <%= @order.try(:total_video_duration) %> seconds </p>
<p> Date of Order : <%= @order.created_at.strftime("%B,%d %Y") %></p>
<% if @order.payment.present? %>
  <h3> Payment Details </h3>
  <p> Amount : <%= @order.payment.amount/100 %>$ </p>
  <p> Date of Payment : <%= @order.payment.date_of_payment.strftime("%B,%d %Y %H:%M %p") %> </p>
<% end %>

