<div class="container-fluid nopadding_lr margin_btm_30">
  <header class="col-xs-12">
    <div class="container">
      <div class="logo pull-left">
        <a href="<%= root_url %>"><%= image_tag "logo.png", :class => "img-responsive" %></a>
      </div>

      <div class="profile pull-right">
        <ul class="nav navbar-nav hidden-xs">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <% if current_user.avatar.present? %> 
              <%= image_tag current_user.avatar.url(:thumb) ,class: "img-circle profile-img" , alt:"image"%>
            <% else %>
              <%= image_tag "icons/user.png" ,class: "img-circle profile-img" , alt:"image" %>
            <% end %>
            <%= current_user.fullname %><i class="fa fa-angle-down" aria-hidden="true"></i></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to edit_user_registration_path do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Profile</a>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: "delete" do %>
                  <i class="fa fa-power-off"></i> Sign Out</a>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <!-- navigation -->
  <div class="navigation white_bg col-xs-12 hidden-xs">
    <ul class="container padding_tb_20">
      <li><a href="<%= root_url %>" class="<%= current_path(root_url) %> dark_gray">Home</a></li>
      <li><a href="<%= order_step_path(:add_payment) %>" class="dark_gray" id="new_order">Upload Videos</a></li>
      <li><a href="<%= my_orders_path %>" class="<%= current_path(my_orders_path) %> dark_gray">My Reviews</a></li>
    </ul>
  </div>
  <!-- Navigation closed -->

  <div class="col-xs-12 navigation white_bg hidden-sm hidden-md hidden-lg padding_tb_10">

    <div class="col-xs-6 pull-left">
      <nav class="navBar">
        <nav class="wrapper">
          <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="label-toggle"></label>
          </input>
          <ul>
            <li><a href="<%= root_url %>" class="dark_gray">Home</a></li>
            <li><a href="<%= order_step_path(:add_payment) %>" class="dark_gray" id="new_order">Upload Videos</a></li>
            <li><a href="<%= my_orders_path %>" class="<%= current_path(my_orders_path) %> dark_gray">My Reviews</a></li>
          </ul>
        </nav>
      </nav>
    </div>

    <div class="col-xs-6">
      <div class="profile">
        <ul class="nav navbar-nav">
          <li class="dropdown pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <% if current_user.avatar.present? %> 
              <%= image_tag current_user.avatar.url(:thumb) ,class: "img-circle profile-img" , alt:"image"%>
            <% else %>
              <%= image_tag "icons/user.png" ,class: "img-circle profile-img" , alt:"image" %>
            <% end %>
            <i class="fa fa-angle-down dark_gray" aria-hidden="true"></i></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to edit_user_registration_path do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Profile</a>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: "delete" do %>
                  <i class="fa fa-power-off"></i> Sign Out</a>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
 crnt_path = window.location.pathname
 if (crnt_path == "/order_steps/add_order" || crnt_path == "/order_steps/add_payment"){
  $(".dark_gray").removeClass("green");
  $("#new_order").addClass("green");
 }
});
</script>