<%= form_for([:admin,@user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_field :date_of_birth %>
  </div>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <lable>Gender : </label>
      <div>
        <%= f.radio_button :gender, 1 ,:checked => f.object.gender == 1 ? true : f.object.gender == nil ? true : false , class: "styled" %>
        <label>Male</label>
      </div>

      <div>
        <%= f.radio_button :gender, 2 ,:checked => f.object.gender == 2 ? true : false , class: "styled" %>
        <label>Female</label>
      </div>
    </label>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </div>

  <% if @user.is_user? %>
    <div class="field">
      <%= f.label :position %><br />
      <%= f.text_field :position %>
    </div>

    <div class="field">
      <%= f.label :soccer_club %><br />
      <%= f.text_field :soccer_club %>
    </div>

    <div class="field">
      <%= f.label :soccer_goal %><br />
      <%= f.text_field :soccer_goal %>
    </div>
  <% end %>

  <% if @user.is_reviewer? %>
    <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address %>
    </div>

    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.text_field :phone_number %>
    </div>

    <div class="field">
      <%= f.label :current_club %><br />
      <%= f.text_field :current_club %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
  <% end %>

  <%= f.hidden_field :user_type, :value => @user.user_type %>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>