<h3> User details</h3>
<%= image_tag @user.avatar.url(:thumb) , alt:"image"%><br/>
<p>Username : <%= @user.try(:fullname) %></p>
<p>Gender : 
<% if @user.gender == 1 %>
  Male
<% else %>
  Female
<% end %></p>
<p>Email : <%= @user.email %></p>
<% if @user.is_reviewer? %>
	<p>Date Of Birth : <%= current_user.try(:date_of_birth).strftime("%B,%d %Y") %></p>
	<p>Address : <%= @user.try(:address) %></p>
	<p>Phone number : <%= @user.try(:phone_number) %> </p>
	<p>Current club : <%= @user.try(:current_club)%></p>
	<p>Description : <%= @user.try(:description) %></p>
<% else %>
	<p>Date Of Birth : <%= @user.try(:date_of_birth).strftime("%B,%d %Y") %></p>
	<p>Position : <%= @user.try(:position) %></p>
	<p>Soccer Club : <%= @user.try(:soccer_club) %></p>
	<p>Soccer Goal : <%= @user.try(:soccer_goal) %></p>
<% end %>

