<h3> User details</h3>
<%= image_tag @user.avatar.url(:thumb) , alt:"image"%><br/>
Username : <%= @user.try(:fullname) %><br/>	
Gender : 
<% if @user.gender == 1 %>
  Male
<% else %>
  Female
<% end %><br/>
Email : <%= @user.email %><br/>
<% if @user.is_reviewer? %>
	Address : <%= @user.try(:address) %><br/>
	Phone number : <%= @user.try(:phone_number) %> <br/>
	Current club : <%= @user.try(:current_club)%><br/>
	Description : <%= @user.try(:description) %>
<% else %>
	Position : <%= @user.try(:position)%>
<% end %>

