<h3>Reviewing <%= @order.user.try(:fullname)%> 's Video</h3>
<p>Title : <%= @order.title %></p>
<p>Description : <%= @order.description %></p>
<% if @order.videos.present? %>
  <% @order.videos.each do |video| %>
    <%= video_tag video.video_url.url, controls: true, autobuffer: true, :id => "order_video" %>
  <% end %>
<% end %>
<%= render "/reviews/form" %>

