<div id="TabbedPanels1" class="TabbedPanels">
  <ul class="TabbedPanelsTabGroup">
    <li class="TabbedPanelsTab full-width TabbedPanelsTabSelected" tabindex="0">Video Pending Review</li>
  </ul>

  <div class="TabbedPanelsContentGroup">
    <div class="TabbedPanelsContent TabbedPanelsContentVisible" style="display: block;">
      <div class="table-responsive">
       <table class="table">
        <thead>
          <tr>
            <th>User Videos</th>
            <th>&nbsp;</th>
            <th>Review</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr class="video-title-txt">
              <td style="width:16%;">
                <% if order.videos.present? %>
                  <%= image_tag order.videos.first.video_url(:thumb1) %>
                <% end %>
              </td>
              <td style="width:54%;">
                <h2><%= order.try(:title) %></h2>
                <p><%= order.try(:description) %></p>
                <%= image_tag "review_tab_user.png" %>
                <span><%= order.user.try(:fullname) %></span> |
                <span><%= order.created_at.strftime("%b %d, %Y - %H:%M ") %></span>
              </td>
              <td style="width:30%; vertical-align:middle;">
                <% if order.status == 7 %>
                  <button class="click_review_btn"><%= link_to 'Resume Review', review_order_path(order) %></button>
                  <button class="click_review_btn"><%= link_to 'Cancel', review_path(order.id), method: :delete, data: { confirm: 'Are you sure?' } %></button>
                <% else %>
                  <button class="click_review_btn"><%= link_to 'Click To Review', review_order_path(order) %></button>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
       </table>
      </div>
    </div>
  </div>
</div>