<h3> <%= @review.try(:order).try(:user).try(:fullname) %> 's Video Review Details </h3>
<p> Title : <%= @review.try(:order).try(:title) %></p>
<% if @review.try(:order).try(:videos).present? %>
  <% @review.order.videos.each do |video| %>
    <%= video_tag video.video_url.url, controls: true, autobuffer: true, :class => "wdth100" %>
  <% end %>
<% end %>
<p> Reviewer : <%= @review.user.try(:fullname) %></p>
<p> Review time : <%= @review.try(:review_time) %> seconds </p>
<p> Technical Notes : <%= @review.try(:technical_notes) %> </p>
<p> Tactical Notes : <%= @review.try(:tactical_notes) %> </p><br/>