<!DOCTYPE html>
<html>
  <head>
    <title>Soccer Video Review</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="main_bg">
    <% if notice.present? %>
      <div class="alert alert-danger fade in"><%= notice %></div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-success fade in"><%= alert %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
