<div class="container">
  <div id="TabbedPanels1" class="TabbedPanels">
    <ul class="TabbedPanelsTabGroup">
      <li class="TabbedPanelsTab full-width TabbedPanelsTabSelected" tabindex="0">Edit Profile</li>
    </ul>

    <div class="TabbedPanelsContentGroup">
      <div class="TabbedPanelsContent">
        <div class="tab_content col-xs-12">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <ul class="col-xs-12">
              <%= devise_error_messages! %>
              <div class="col-xs-12 nopadding_lr">
                <div class="col-xs-12 col-sm-4"></div>

                <div class="col-xs-12 col-sm-4">
                  <span class="profile_pic">
                    <%= image_tag "reviewer_img.png" %>
                    <a href="#" class="cancel_btn" title="Remove Photo"><i class="fa fa-close"></i></a>

                    <div class="upload_photo">
                      <p>Upload Photo</p>
                    </div>

                    <%= f.file_field :avatar %>
                  </span>
                </div>

                <div class="col-xs-12 col-sm-4"></div>
              </div>

              <div class="col-xs-12"></div>

              <div class="col-xs-12 col-sm-6">
                <li>
                  <h2 class="pull-left">First Name</h2>
                  <span class="box">
                    <%= image_tag "icons/name.png" %>
                    <%= f.text_field :first_name %>
                  </span>
                </li>

                <li>
                  <h2 class="pull-left">E-Mail</h2>
                  <span class="box">
                    <%= image_tag "icons/mail.png" %>
                    <input type="text" name="email">
                  </span>
                </li>

                <li>
                  <h2 class="pull-left">Date of Birth</h2>
                  <span class="box">
                    <%= image_tag "icons/dob.png" %>
                    <%= f.date_field :date_of_birth, autocomplete: "off" %>
                  </span>
                </li>
              </div>

              <div class="col-xs-12 col-sm-6">
                <li>
                  <h2 class="pull-left">Last Name</h2>
                  <span class="box">
                    <%= image_tag "icons/name.png" %>
                    <%= f.text_field :last_name %>
                  </span>
                </li>

                <li>
                  <h2 class="pull-left">Gender</h2>
                  <span class="box">
                    <div class="radio">
                      <%= f.radio_button :gender, 1 , :checked => f.object.gender == 1 ? true : false %>
                      <label for="male">Male</label>
                      <%= f.radio_button :gender, 2 ,:checked =>  f.object.gender == 2 ? true : false %>
                      <label for="female">Female</label>
                    </div>
                  </span>
                </li>

                <li>
                  <h2 class="pull-left">Zip Code</h2>
                  <span class="box">
                    <%= image_tag "icons/zip.png" %>
                    <%= f.text_field :zipcode %>
                  </span>
                </li>

              </div>

              <div class="col-xs-12">
                <li>
                  <h2 class="pull-left padding_tb_20"><strong>Change Password</strong> (leave blank if you don't want to change your password)</h2>
                </li>
              </div>

              <div class="col-xs-12 nopadding_lr">
                <div class="col-xs-12 col-sm-4">
                  <li>
                    <h2 class="pull-left">Password</h2>
                    <span class="box">
                      <%= image_tag "icons/password.png" %>
                      <%= f.password_field :current_password %>
                    </span>
                  </li>
                </div>

                <div class="col-xs-12 col-sm-4">
                  <li>
                    <h2 class="pull-left">New Password</h2>
                    <span class="box">
                      <%= image_tag "icons/password.png" %>
                      <%= f.password_field :password %>
                    </span>
                  </li>
                </div>

                <div class="col-xs-12 col-sm-4">
                  <li>
                    <h2 class="pull-left">Confirm Password</h2>
                    <span class="box">
                      <%= image_tag "icons/password.png" %>
                      <%= f.password_field :password_confirmation %>
                    </span>
                  </li>
                </div>
              </div>

              <div class="col-xs-12 col-sm-3"></div>
              <div class="col-xs-12 col-sm-6 margin_btm_30">
                <li>
                  <%= f.submit "Update" %>
                </li>
              </div>
              <div class="col-xs-12 col-sm-3"></div>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $("#upload_link").on('click', function(e){
      e.preventDefault();
      $("#upload:hidden").trigger('click');
    });
  });
</script>